{% extends 'search/base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
<style>
    table, th, td {
    }
    td {
        text-align: center;
    }

</style>
{% block content %}
    <div class="container-lg">
        <div id="body-wrapper">
        <table class="table">
            <td height="250">
                <h1>맥주 추천 페이지</h1>
            </td>
        </table>
            <div id="body-content">
                <div style="float: left;">
                <form action="" method="get">
                    <div class='filter-item', style="float: left;">
                       <h3><span>맥주 스타일</span></h3>
                        <h6>회원님만의 맥주 스타일 추천!</h6>
                        <div style="padding:10px;"></div>
                        <div class='container'>
                            <span class="ft-16"><h6>당도</h6></span>
                            <div class="star-rating space-x-4 mx-auto"> <!--n-특성 에서 n은 바꿔도 됨 -->
                                <input type="radio" id="sweet_1" name="sweet" value="1.0" v-model="sweets"/>
                                <label for="sweet_1" class="star pr-4">●</label>

                                <input type="radio" id="sweet_2" name="sweet" value="0.8" v-model="sweets"/>
                                <label for="sweet_2" class="star">●</label>

                                <input type="radio" id="sweet_3" name="sweet" value="0.6" v-model="sweets"/>
                                <label for="sweet_3" class="star">●</label>

                                <input type="radio" id="sweet_4" name="sweet" value="0.4" v-model="sweets"/>
                                <label for="sweet_4" class="star">●</label>

                                <input type="radio" id="sweet_5" name="sweet" value="0.2" v-model="sweets"/>
                                <label for="sweet_5" class="star">●</label>
                            </div>
                        </div>
                        <div style="padding:10px;"></div>
                        <div class='container'>
                            <span class="ft-16"><h6>바디감</h6></span>
                            <div class="star-rating space-x-4 mx-auto"> <!--n-특성 에서 n은 바꿔도 됨 -->
                                <input type="radio" id="body_1" name="body" value="1.0" v-model="bodys"/>
                                <label for="body_1" class="star pr-4">●</label>

                                <input type="radio" id="body_2" name="body" value="0.8" v-model="bodys"/>
                                <label for="body_2" class="star">●</label>

                                <input type="radio" id="body_3" name="body" value="0.6" v-model="bodys"/>
                                <label for="body_3" class="star">●</label>

                                <input type="radio" id="body_4" name="body" value="0.4" v-model="bodys"/>
                                <label for="body_4" class="star">●</label>

                                <input type="radio" id="body_5" name="body" value="0.2" v-model="bodys"/>
                                <label for="body_5" class="star">●</label>
                            </div>
                        </div>
                        <div style="padding:10px;"></div>
                        <div class='container'>
                            <span class="ft-16"><h6>과일향</h6></span>
                            <div class="star-rating space-x-4 mx-auto"> <!--n-특성 에서 n은 바꿔도 됨 -->
                                <input type="radio" id="fruit_1" name="fruit" value="1.0" v-model="fruits"/>
                                <label for="fruit_1" class="star pr-4">●</label>

                                <input type="radio" id="fruit_2" name="fruit" value="0.8" v-model="fruits"/>
                                <label for="fruit_2" class="star">●</label>

                                <input type="radio" id="fruit_3" name="fruit" value="0.6" v-model="fruits"/>
                                <label for="fruit_3" class="star">●</label>

                                <input type="radio" id="fruit_4" name="fruit" value="0.4" v-model="fruits"/>
                                <label for="fruit_4" class="star">●</label>

                                <input type="radio" id="fruit_5" name="fruit" value="0.2" v-model="fruits"/>
                                <label for="fruit_5" class="star">●</label>
                            </div>
                        </div>
                        <div style="padding:10px;"></div>
                        <div class='container'>
                            <span class="ft-16"><h6>홉향</h6></span>
                            <div class="star-rating space-x-4 mx-auto"> <!--n-특성 에서 n은 바꿔도 됨 -->
                                <input type="radio" id="hoppy_1" name="hoppy" value="1.0" v-model="hoppys"/>
                                <label for="hoppy_1" class="star pr-4">●</label>

                                <input type="radio" id="hoppy_2" name="hoppy" value="0.8" v-model="hoppys"/>
                                <label for="hoppy_2" class="star">●</label>

                                <input type="radio" id="hoppy_3" name="hoppy" value="0.6" v-model="hoppys"/>
                                <label for="hoppy_3" class="star">●</label>

                                <input type="radio" id="hoppy_4" name="hoppy" value="0.4" v-model="hoppys"/>
                                <label for="hoppy_4" class="star">●</label>

                                <input type="radio" id="hoppy_5" name="hoppy" value="0.2" v-model="hoppys"/>
                                <label for="hoppy_5" class="star">●</label>
                            </div>
                        </div>
                        <div style="padding:10px;"></div>
                        <div class='container'>
                            <span class="ft-16"><h6>맥아향</h6></span>
                            <div class="star-rating space-x-4 mx-auto"> <!--n-특성 에서 n은 바꿔도 됨 -->
                                <input type="radio" id="malty_1" name="malty" value="1.0" v-model="maltys"/>
                                <label for="malty_1" class="star pr-4">●</label>

                                <input type="radio" id="malty_2" name="malty" value="0.8" v-model="maltys"/>
                                <label for="malty_2" class="star">●</label>

                                <input type="radio" id="malty_3" name="malty" value="0.6" v-model="maltys"/>
                                <label for="malty_3" class="star">●</label>

                                <input type="radio" id="malty_4" name="malty" value="0.4" v-model="maltys"/>
                                <label for="malty_4" class="star">●</label>

                                <input type="radio" id="malty_5" name="malty" value="0.2" v-model="maltys"/>
                                <label for="malty_5" class="star">●</label>
                            </div>
                        </div>
                    </div>
                    <div style="float: left;">
                           ㅤㅤㅤㅤㅤㅤㅤㅤ
                    </div>
                    <div style="float: left;">
                    <div style="padding:100px;"></div>
                    <button type="submit" name="style" class="btn btn-primary"><h3>맥주 검색</h3></button>
                    </div>
                </form>
                </div>
                <div class="child", style="float: left;">
                {% if predict_beer %}
                    <table>
                        <h2>
                        <b>당신에게 꼭 맞는 맥주 </b>
                        </h2>
                        <tr></tr>
                        <tr>
                            <h3 style="color: #8B4513">
                                <div style="padding:10px;"></div>
                             <b>{{ predict_beer }}</b>
                            </h3>
                            two_trillionaires의
                            알고리즘으로 엄선한 <br>
                            {{ predict_beer }} TOP 10<br>
                            한 번 둘러 보세요!
                        </tr>
                        <div style="padding:10px;"></div>
                        {% for kl in kind_list %}
                        <tr height="70">
                            <th>{{ forloop.counter }}</th>
                            <td>           </td>
                            <td><h6><a href = "/search/beerprofile/{{ kl.id }}">{{ kl.name }}</a></h6></td>
                        </tr>
                    {% endfor %}
                    </table>
                     {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}