{% extends "search/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

{% block title %}Home{% endblock %}
{% block content %}
    <style>
        .star-rating {
            display: flex;
            flex-direction: row-reverse;
            font-size: 2rem;
            line-height: 1rem;
            justify-content: space-around;
            padding: 0 0.1em;
            text-align: center;
            width: 3em;
        }

        .star-rating input {
            display: none;
        }

        .star-rating label {
            -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 2.3px;
            -webkit-text-stroke-color: #2b2a29;
            cursor: pointer;
        }

        .star-rating :checked ~ label {
            -webkit-text-fill-color: mediumpurple;
        }

        .star-rating label:hover,
        .star-rating label:hover ~ label {
            -webkit-text-fill-color: rebeccapurple;
        .
        }
        .box {
            width: 100%;
            height: 200%;
            margin: 40px auto;
        }
        .search_box {
            width: 80%;
            height: 80%;
            margin: 50px auto;

        }
        .carousel-inner {
            top: 0;
            left: 0;
            min-width: 100%;
            height: 500px;
        }

    </style>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://cdn.pixabay.com/photo/2016/09/18/20/51/cans-1679022_960_720.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2015/12/03/13/26/beer-1074950_960_720.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2017/07/12/22/13/beer-2498543_960_720.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div style="padding:6px;"></div>
    <div class='box'>
        <form action="" method="get" name="search">
            <div class="search_box">
                <div class="row">
                    <div class="col">
                        <div class='filter-item'>
                            <ul class='box-view; flex-sm-wrap;'>
                                <h3><span >맥주 종류</span></h3>
                                <div style="padding:20px;"></div>
                                <div class="float-center">
                                    <input id='field-pale-ales' name='chCategory' value="Pale Ales" type='checkbox'>
                                    <label for='field-pale-ales'>
                                        <h6> &nbsp;Pale Ales</h6></label>
                                    <input id='field-india-pale-ales' name='chCategory' value="India Pale Ales" type='checkbox'>
                                    <label for='field-india-pale-ales'>
                                        <h6> &nbsp;India Pale Ales</h6></label>
                                </div>

                                <div style="padding:6px;"></div>

                                <div class="float-center">
                                    <input id='field-stouts' name='chCategory' value="Stouts" type='checkbox'>
                                    <label for='field-stouts'>
                                        <h6> &nbsp;Stouts</h6></label>
                                    <input id='field-pale-lagers' name='chCategory' value="Pale Lagers" type='checkbox'>
                                    <label for='field-pale-lagers'>
                                        <h6> &nbsp;Pale Lagers</h6></label>
                                </div>

                                <div style="padding:6px;"></div>

                                <div class="float-center">
                                    <input id='field-wild/sour-beers' name='chCategory' value="Wild/Sour Beers" type='checkbox'>
                                    <label for='field-wild/sour-beers'>
                                        <h6> &nbsp;Wild/Sour Beers</h6></label>
                                </div>
                                <div class="float-center">
                                    <input id='field-specialty-beers' name='chCategory' value="Specialty Beers" type='checkbox'>
                                    <label for='field-specialty-beers'>
                                        <h6> &nbsp;Specialty Beers</h6></label>
                                </div>

                                <div style="padding:6px;"></div>

                                <div class="float-center">
                                    <input id='field-porters' name='chCategory' value="Porters" type='checkbox'>
                                    <label for='field-porters'>
                                        <h6> &nbsp;Porters</h6></label>
                                    <input id='field-wheat-beers' name='chCategory' value="Wheat Beers" type='checkbox'>
                                    <label for='field-wheat-beers'>
                                        <h6> &nbsp;Wheat Beers</h6></label>
                                </div>

                                <div style="padding:6px;"></div>

                                <div class="float-center">
                                    <input id='field-dark-lagers' name='chCategory' value="Dark Lagers" type='checkbox'>
                                    <label for='field-dark-lagers'>
                                        <h6> &nbsp;Dark Lagers</h6></label>
                                    <input id='field-brown-ales' name='chCategory' value="Brown Ales" type='checkbox'>
                                    <label for='field-brown-ales'>
                                        <h6> &nbsp;Brown Ales</h6></label>
                                </div>

                                <div style="padding:6px;"></div>

                                <div class="float-center">
                                    <input id='field-bocks' name='chCategory' value="Bocks" type='checkbox'>
                                    <label for='field-bocks'>
                                        <h6> &nbsp;Bocks</h6></label>
                                    <input id='field-dark-ales' name='chCategory' value="Dark-Ales" type='checkbox'>
                                    <label for='field-dark-ales'>
                                        <h6> &nbsp;Dark Ales</h6></label>
                                </div>

                                <div style="padding:6px;"></div>

                                <div class="float-center">
                                    <input id='field-strong-ales' name='chCategory' value="Strong Ales" type='checkbox'>
                                    <label for='field-strong-ales'>
                                        <h6> &nbsp;Strong Ales</h6></label>
                                    <input id='field-hybrid-beers' name='chCategory' value="Hybrid Beers" type='checkbox'>
                                    <label for='field-hybrid-beers'>
                                        <h6> &nbsp;Hybrid Beers</h6></label>
                                </div>

                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class='filter-item'>
                            <ul class='box-view'>
                                <h3><span>국가</span></h3>
                                <div style="padding:20px;"></div>
                                <div class=''><input id='field-usa' name='chCountry' value="United States" type='checkbox'>
                                    <label for='field-usa'><h6>미국</h6></label></div>
                                <div style="padding:6px;"></div>
                                <div class=''><input id='field-belgique' name='chCountry' value="Belgium" type='checkbox'>
                                    <label for='field-belgique'><h6>벨기에</h6></label></div>
                                <div style="padding:6px;"></div>
                                <div class=''><input id='field-germany' name='chCountry' value="Germany" type='checkbox'>
                                    <label for='field-germany'><h6>독일</h6></label></div>
                                <div style="padding:6px;"></div>
                                <div class=''><input id='field-UK' name='chCountry' value="United Kingdom" type='checkbox'>
                                    <label for='field-UK'><h6>영국</h6></label></div>
                                <div style="padding:6px;"></div>
                                <div class=''><input id='field-canada' name='chCountry' value="Canada" type='checkbox'>
                                    <label for='field-canada'><h6>캐나다</h6></label></div>
                                <div style="padding:6px;"></div>
                                <div class=''><input id='field-denmark' name='chCountry' value="Denmark" type='checkbox'>
                                    <label for='field-denmark'><h6>덴마크</h6></label></div>
                                <div style="padding:6px;"></div>
                                <div class=''><input id='field-netherlands' name='chCountry' value="Netherlands" type='checkbox'>
                                    <label for='field-netherlands'><h6>네덜란드</h6></label></div>
                            </ul>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
{% endblock %}