{% extends "account/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

{% block content %}
    <div class="container-md" style = "padding: 10px;" >
        <h1 class="wrap-tit" >프로필 페이지</h1>
        <div style="padding:20px;"></div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    {% if person.image %}
                        <img src="{{ person.image.url }}" class="img-thumbnail" alt="사용자가 등록한 이미지입니다" height="200" width="200">
                    {% else %}
                        <img class="img-thumbnail" src="{% static '사용자이미지.jpg' %}" alt="프로필 이미지를 등록해주세요" width="200">
                    {% endif %}
                </div>
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>사용자 이름</th>
                            <td>{{ person.username }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>닉네임</th>
                            <td>{{ person.nickname }}</td>
                        </tr>
                        <tr>
                            <th>이메일 주소</th>
                            <td>{{ person.email }}</td>
                        </tr>
                        <tr>
                            <th>성별</th>
                            <td>{% if person.gender == 0 %}
                                <h5>남성</h5>
                            {% else %}
                                <h5>여성</h5>
                            {% endif %}</td>
                        </tr>
                        <tr>
                            <th>나이</th>
                            <td>{{ person.age }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="padding:20px;"></div>
        <h2>
            <a href="/search/"><button class="btn btn-success" style="float: right" >홈화면으로 이동</button></a>
        </h2>
        <div style="padding:20px;"></div>
    </div>



{% endblock %}